<!doctype html>
<html>

  <head>

    {% block head %}
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

  </head>

  <body>
    <div class="container">

      <div class="row top-menu">
        <div class="col-md-6">
          <a href="{{url_for('showCategories')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Catalog App
          </a>
        </div>
        <div class="col-md-6 text-right">
        {% if 'username' not in session %}
          <a href="{{ url_for('showLogin') }}">Login</a>
          {% else %}
          <a href="{{ url_for('disconnect') }}">Logout</a>
        {% endif %}
        </div>
      </div>

      <div class="row divider blue">
        <div class="col-md-12"></div>
      </div>

      <div class="row banner main">
        <div class="col-md-1"></div>
        <div class="col-md-11 padding-none">
          {% block h1 %}{% endblock %}
        </div>
      </div>

      <div id="content">{% block content %}{% endblock %}

      </div>

      <div id="divider-footer" class="row divider blue">
        <div class="col-md-12"></div>
      </div>

      <div id="footer">
        {% block footer %}
        &copy; Copyright 2019 by <a href="https://growthandtraction.com/">Federico Pascual</a>
        {% endblock %}
      </div>

    </div>
  </body>

</html>