<!doctype html>
<html>

  <head>
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '935322023230-5jksba7jk33q32ilkg8o78p4d9h3ajou.apps.googleusercontent.com'
          });
        });
      }
    </script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

    <title>Login - Catalog App</title>

  </head>

  <body>
    <div class="container">

      <div class="row top-menu">
        <div class="col-md-6">
          <a href="{{url_for('showCategories')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Catalog App
          </a>
        </div>
        <div class="col-md-6 text-right">
        {% if 'username' not in session %}
          <a href="{{ url_for('showLogin') }}">Login</a>
          {% else %}
          <a href="{{ url_for('disconnect') }}">Logout</a>
        {% endif %}
        </div>
      </div>

      <div class="row divider blue">
        <div class="col-md-12"></div>
      </div>

      <div class="row banner main">
        <div class="col-md-1"></div>
        <div class="col-md-11 padding-none">
          <h1>Login</h1>
        </div>
      </div>

      <div id="content">

        <h2>Login with a Google account</h2>

        <button id="signinButton">Sign in with Google</button>
        
        <div id="result"></div>

        <script>
          $('#signinButton').click(function() {
            function signInCallback(authResult){

            // Hide the sign-in button now that the user is authorized
              if (authResult['code']){
                  $('#signinButton').attr('style', 'display: none');

                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                  type: 'POST',
                  url: '/gconnect?state={{STATE}}',
                  headers: {
                  'X-Requested-With': 'XMLHttpRequest'
                  },
                  contentType: 'application/octet-stream; charset=utf-8',
                  success:function(result){
                    $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                         setTimeout(function() {
                          window.location.href = "/catalog";
                         }, 3000);
                  },
                  processData:false,
                  data:authResult['code']
                });

              } else if (authResult['error']){
                // handle error
                console.log('There was an error: ' + authResult['error']);
              } else {
                $('#result').html('Failed to make a server-side call. Check your configuration and console.');
              }
            }
            auth2.grantOfflineAccess().then(signInCallback);
          });
        </script>
        <!--END GOOGLE PLUS SIGN IN BUTTON -->

      </div>

      <div id="divider-footer" class="row divider blue">
        <div class="col-md-12"></div>
      </div>

      <div id="footer">
        {% block footer %}
        &copy; Copyright 2019 by <a href="https://growthandtraction.com/">Federico Pascual</a>
        {% endblock %}
      </div>

    </div>
  </body>

</html>